Samples/Data Storage/Node-Red/ModbusClient/CanaryModbusStorage.json
[{
	"id": "17c20294.37a725",
	"type": "tab",
	"label": "Canary Modbus Storage",
	"disabled": true,
	"info": "Reads registers from a modbus device and stores tag data in the Canary historian"
},
{
	"id": "b4c20f6c.f829e8",
	"type": "http request",
	"z": "17c20294.37a725",
	"name": "GetCanaryUserToken",
	"method": "POST",
	"ret": "obj",
	"url": "http://localhost:55253/api/v1/getUserToken",
	"tls": "",
	"x": 680,
	"y": 480,
	"wires": [["b4acc8dc.4b039",
	"ff3330ab.e8598"]]
},
{
	"id": "2ffc7d75.a63c4a",
	"type": "catch",
	"z": "17c20294.37a725",
	"name": "",
	"scope": null,
	"x": 120,
	"y": 760,
	"wires": [["3a8072fd.9ad666"]]
},
{
	"id": "3a8072fd.9ad666",
	"type": "debug",
	"z": "17c20294.37a725",
	"name": "Debug Exceptions",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 318,
	"y": 760.25,
	"wires": []
},
{
	"id": "9966877f.6710f8",
	"type": "debug",
	"z": "17c20294.37a725",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 410,
	"y": 920,
	"wires": []
},
{
	"id": "b56ac976.c8d66",
	"type": "inject",
	"z": "17c20294.37a725",
	"name": "global.canarySessionToken",
	"topic": "",
	"payload": "canarySessionToken",
	"payloadType": "global",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 190,
	"y": 920,
	"wires": [["9966877f.6710f8"]]
},
{
	"id": "b4acc8dc.4b039",
	"type": "function",
	"z": "17c20294.37a725",
	"name": "Set Global UserToken",
	"func": "global.set(\"canaryUserToken\", msg.payload.userToken);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 180,
	"y": 540,
	"wires": [["3fb23d54.3d3812"]]
},
{
	"id": "d920b440.aaade",
	"type": "comment",
	"z": "17c20294.37a725",
	"name": "Retrieve global session token and print to debug",
	"info": "",
	"x": 240,
	"y": 880,
	"wires": []
},
{
	"id": "70c92869.38252",
	"type": "http request",
	"z": "17c20294.37a725",
	"name": "GetCanarySessionToken",
	"method": "POST",
	"ret": "obj",
	"url": "http://localhost:55253/api/v1/getSessionToken",
	"tls": "",
	"x": 690,
	"y": 540,
	"wires": [["b7351ee9.73593"]]
},
{
	"id": "3fb23d54.3d3812",
	"type": "template",
	"z": "17c20294.37a725",
	"name": "Format SessionToken JSON",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "{\n    \"userToken\":\"{{global.canaryUserToken}}\",\n    \"historians\":[\n        \"Josh\"\n    ],\n    \"clientId\":\"Node-Red Client\",\n    \"settings\": {\n        \"autoCreateDatasets\": true\n    }\n}",
	"output": "json",
	"x": 440,
	"y": 540,
	"wires": [["70c92869.38252"]]
},
{
	"id": "b7351ee9.73593",
	"type": "function",
	"z": "17c20294.37a725",
	"name": "Set Global SessionToken",
	"func": "global.set(\"canarySessionToken\", msg.payload.sessionToken);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 190,
	"y": 600,
	"wires": [["d0df7bd7.ef32"]]
},
{
	"id": "67b56a47.716794",
	"type": "debug",
	"z": "17c20294.37a725",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 410,
	"y": 840,
	"wires": []
},
{
	"id": "69879dff.5d0f7c",
	"type": "inject",
	"z": "17c20294.37a725",
	"name": "",
	"topic": "",
	"payload": "canaryUserToken",
	"payloadType": "global",
	"repeat": "",
	"crontab": "",
	"once": false,
	"onceDelay": 0.1,
	"x": 180,
	"y": 840,
	"wires": [["67b56a47.716794"]]
},
{
	"id": "1a7b8eb1.f679c9",
	"type": "comment",
	"z": "17c20294.37a725",
	"name": "Retrieve global user token and print to debug",
	"info": "",
	"x": 230,
	"y": 800,
	"wires": []
},
{
	"id": "7418f793.0710d8",
	"type": "function",
	"z": "17c20294.37a725",
	"name": "Log Coils",
	"func": "// takes an array of booleans from a modbus coil read and \n// builds the payload to pass to the canary logging flow\n\nvar date = new Date();\nvar canaryMsg = {};\ncanaryMsg.payload = {};\ncanaryMsg.payload.userToken = global.get(\"canaryUserToken\");\ncanaryMsg.payload.sessionToken = global.get(\"canarySessionToken\");\ncanaryMsg.payload.tvqs = {};\n\n// configure your tag list here. \n// tag name should be fully qualified with what should be stored in the\n// canary historian ex. <dataset>.<path>.<tagname>\n// this list needs to be <= the number of coils\n// being read from modbus (configured in the modbus function)\nvar tags = \n[\n    \"Node-Red.Coil1\", // this tag is array item 0\n    \"Node-Red.Coil2\", // this tag is array item 1\n    \"Node-Red.Coil3\", // this tag is array item 2\n    \"Node-Red.Coil4\", // ...\n    \"Node-Red.Coil5\",\n    \"Node-Red.Coil6\",\n    \"Node-Red.Coil7\",\n    \"Node-Red.Coil8\",\n    \"Node-Red.Coil9\",\n    \"Node-Red.Coil10\"\n];\n\nfor(var i=0; i<tags.length; i++)\n{\n    canaryMsg.payload.tvqs[tags[i]] = [[date.toISOString(), msg.values[i]]];\n}\n\nreturn canaryMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 420,
	"y": 80,
	"wires": [["df2288fe.373bd8"]],
	"inputLabels": ["msg"]
},
{
	"id": "1a571b57.087505",
	"type": "modbus-read",
	"z": "17c20294.37a725",
	"name": "Read Coils",
	"topic": "",
	"showStatusActivities": false,
	"showErrors": false,
	"unitid": "1",
	"dataType": "Coil",
	"adr": "0",
	"quantity": "10",
	"rate": "1",
	"rateUnit": "s",
	"delayOnStart": true,
	"startDelayTime": "5",
	"server": "5b3128f6.9b5b7",
	"useIOFile": false,
	"ioFile": "",
	"useIOForPayload": false,
	"x": 140,
	"y": 80,
	"wires": [[],
	["7418f793.0710d8"]]
},
{
	"id": "1bb66915.b8f01f",
	"type": "modbus-read",
	"z": "17c20294.37a725",
	"name": "Read Inputs",
	"topic": "",
	"showStatusActivities": false,
	"showErrors": false,
	"unitid": "1",
	"dataType": "Input",
	"adr": "0",
	"quantity": "10",
	"rate": "1",
	"rateUnit": "s",
	"delayOnStart": true,
	"startDelayTime": "5",
	"server": "5b3128f6.9b5b7",
	"useIOFile": false,
	"ioFile": "",
	"useIOForPayload": false,
	"x": 150,
	"y": 140,
	"wires": [[],
	["2ffc7d22.68884a"]]
},
{
	"id": "4a5d919.4a171f",
	"type": "debug",
	"z": "17c20294.37a725",
	"name": "Good Store",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 550,
	"y": 360,
	"wires": []
},
{
	"id": "8ef6e180.b8dbe8",
	"type": "modbus-read",
	"z": "17c20294.37a725",
	"name": "Read Holding",
	"topic": "",
	"showStatusActivities": false,
	"showErrors": false,
	"unitid": "1",
	"dataType": "HoldingRegister",
	"adr": "0",
	"quantity": "10",
	"rate": "1",
	"rateUnit": "s",
	"delayOnStart": true,
	"startDelayTime": "5",
	"server": "5b3128f6.9b5b7",
	"useIOFile": false,
	"ioFile": "",
	"useIOForPayload": false,
	"x": 150,
	"y": 200,
	"wires": [[],
	["22e9465d.8f3812"]]
},
{
	"id": "ba9755bf.b61dd",
	"type": "modbus-read",
	"z": "17c20294.37a725",
	"name": "Read Input Registers",
	"topic": "",
	"showStatusActivities": false,
	"showErrors": false,
	"unitid": "1",
	"dataType": "InputRegister",
	"adr": "0",
	"quantity": "10",
	"rate": "1",
	"rateUnit": "s",
	"delayOnStart": true,
	"startDelayTime": "5",
	"server": "5b3128f6.9b5b7",
	"useIOFile": false,
	"ioFile": "",
	"useIOForPayload": false,
	"x": 180,
	"y": 260,
	"wires": [[],
	["d2655acb.f4c6d"]]
},
{
	"id": "df2288fe.373bd8",
	"type": "http request",
	"z": "17c20294.37a725",
	"name": "CanaryStoreData",
	"method": "POST",
	"ret": "obj",
	"url": "http://localhost:55253/api/v1/storeData",
	"tls": "",
	"x": 190,
	"y": 400,
	"wires": [["bbffc5c0.4fdf68"]]
},
{
	"id": "bbffc5c0.4fdf68",
	"type": "switch",
	"z": "17c20294.37a725",
	"name": "",
	"property": "payload.statusCode",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "Good",
		"vt": "str"
	},
	{
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 370,
	"y": 400,
	"wires": [["4a5d919.4a171f"],
	["67c42ef9.96ce8",
	"84609433.4bc308"]]
},
{
	"id": "67c42ef9.96ce8",
	"type": "debug",
	"z": "17c20294.37a725",
	"name": "Store Error",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 550,
	"y": 400,
	"wires": []
},
{
	"id": "2ffc7d22.68884a",
	"type": "function",
	"z": "17c20294.37a725",
	"name": "Log Inputs",
	"func": "// takes an array of booleans from a modbus input read and \n// builds the payload to pass to the canary logging flow\n\nvar date = new Date();\nvar canaryMsg = {};\ncanaryMsg.payload = {};\ncanaryMsg.payload.userToken = global.get(\"canaryUserToken\");\ncanaryMsg.payload.sessionToken = global.get(\"canarySessionToken\");\ncanaryMsg.payload.tvqs = {};\ncanaryMsg.payload.properties = {};\ncanaryMsg.payload.annotations = {};\n\n// configure your tag list here. \n// tag name should be fully qualified with what should be stored in the\n// canary historian ex. <dataset>.<path>.<tagname>\n// this list needs to be <= the number of coils configured to be\n// read from modbus (configured in the modbus function)\nvar tags = \n[\n    \"Node-Red.Input1\", // this tag is array item 0\n    \"Node-Red.Input2\", // this tag is array item 1\n    \"Node-Red.Input3\", // this tag is array item 2\n    \"Node-Red.Input4\", // ...\n    \"Node-Red.Input5\",\n    \"Node-Red.Input6\",\n    \"Node-Red.Input7\",\n    \"Node-Red.Input8\",\n    \"Node-Red.Input9\",\n    \"Node-Red.Input10\"\n];\n\nfor(var i=0; i<tags.length; i++)\n{\n    canaryMsg.payload.tvqs[tags[i]] = [[date.toISOString(), msg.values[i]]];\n}\n\nreturn canaryMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 410,
	"y": 140,
	"wires": [["df2288fe.373bd8"]]
},
{
	"id": "22e9465d.8f3812",
	"type": "function",
	"z": "17c20294.37a725",
	"name": "Log Holding Registers",
	"func": "// takes an array of booleans from a modbus holding register read and \n// builds the payload to pass to the canary logging flow\n\nvar date = new Date();\nvar canaryMsg = {};\ncanaryMsg.payload = {};\ncanaryMsg.payload.userToken = global.get(\"canaryUserToken\");\ncanaryMsg.payload.sessionToken = global.get(\"canarySessionToken\");\ncanaryMsg.payload.tvqs = {};\ncanaryMsg.payload.properties = {};\ncanaryMsg.payload.annotations = {};\n\n// configure your tag list here. \n// tag name should be fully qualified with what should be stored in the\n// canary historian ex. <dataset>.<path>.<tagname>\n// this list needs to be <= the number of input registers configured to be\n// be read from modbus (configured in the modbus function)\nvar tags = \n[\n    \"Node-Red.HoldingRegister1\", // this tag is array item 0\n    \"Node-Red.HoldingRegister2\", // this tag is array item 1\n    \"Node-Red.HoldingRegister3\", // this tag is array item 2\n    \"Node-Red.HoldingRegister4\", // ...\n    \"Node-Red.HoldingRegister5\",\n    \"Node-Red.HoldingRegister6\",\n    \"Node-Red.HoldingRegister7\",\n    \"Node-Red.HoldingRegister8\",\n    \"Node-Red.HoldingRegister9\",\n    \"Node-Red.HoldingRegister10\"\n];\n\nfor(var i=0; i<tags.length; i++)\n{\n    canaryMsg.payload.tvqs[tags[i]] = [[date.toISOString(), msg.values[i]]];\n}\n\nreturn canaryMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 380,
	"y": 200,
	"wires": [["df2288fe.373bd8"]]
},
{
	"id": "d2655acb.f4c6d",
	"type": "function",
	"z": "17c20294.37a725",
	"name": "Log Input Registers",
	"func": "// takes an array of booleans from a modbus coil read and \n// builds the payload to pass to the canary logging flow\n\nvar date = new Date();\nvar canaryMsg = {};\ncanaryMsg.payload = {};\ncanaryMsg.payload.userToken = global.get(\"canaryUserToken\");\ncanaryMsg.payload.sessionToken = global.get(\"canarySessionToken\");\ncanaryMsg.payload.tvqs = {};\ncanaryMsg.payload.properties = {};\ncanaryMsg.payload.annotations = {};\n\n// configure your tag list here. \n// tag name should be fully qualified with what should be stored in the\n// canary historian ex. <dataset>.<path>.<tagname>\n// this list needs to be <= the number of input registers configured to be\n// read from modbus (configured in the modbus function)\nvar tags = \n[\n    \"Node-Red.InputRegister1\", // this tag is array item 0\n    \"Node-Red.InputRegister2\", // this tag is array item 1\n    \"Node-Red.InputRegister3\", // this tag is array item 2\n    \"Node-Red.InputRegister4\", // ...\n    \"Node-Red.InputRegister5\",\n    \"Node-Red.InputRegister6\",\n    \"Node-Red.InputRegister7\",\n    \"Node-Red.InputRegister8\",\n    \"Node-Red.InputRegister9\",\n    \"Node-Red.InputRegister10\"\n];\n\nfor(var i=0; i<tags.length; i++)\n{\n    canaryMsg.payload.tvqs[tags[i]] = [[date.toISOString(), msg.values[i]]];\n}\n\nreturn canaryMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 390,
	"y": 260,
	"wires": [["df2288fe.373bd8"]]
},
{
	"id": "f101eb08.caef8",
	"type": "inject",
	"z": "17c20294.37a725",
	"name": "Startup oneshot",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": true,
	"onceDelay": "1",
	"x": 180,
	"y": 480,
	"wires": [["84609433.4bc308"]]
},
{
	"id": "d0df7bd7.ef32",
	"type": "debug",
	"z": "17c20294.37a725",
	"name": "Session Token",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 420,
	"y": 600,
	"wires": []
},
{
	"id": "84609433.4bc308",
	"type": "template",
	"z": "17c20294.37a725",
	"name": "Format UserToken JSON",
	"field": "payload",
	"fieldType": "msg",
	"format": "handlebars",
	"syntax": "mustache",
	"template": "{\n    \"username\":\"\",\n    \"password\":\"\"\n}",
	"output": "json",
	"x": 430,
	"y": 480,
	"wires": [["b4c20f6c.f829e8"]]
},
{
	"id": "ff3330ab.e8598",
	"type": "debug",
	"z": "17c20294.37a725",
	"name": "UserToken",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 890,
	"y": 440,
	"wires": []
},
{
	"id": "b5a8c0d3.fc93",
	"type": "comment",
	"z": "17c20294.37a725",
	"name": "Debugging",
	"info": "",
	"x": 120,
	"y": 720,
	"wires": []
},
{
	"id": "5c36a311.720d94",
	"type": "comment",
	"z": "17c20294.37a725",
	"name": "This section reads data from modbus and builds the JSON payloads to send to the Canary API",
	"info": "",
	"x": 380,
	"y": 40,
	"wires": []
},
{
	"id": "3d3e6d8a.cbea7a",
	"type": "comment",
	"z": "17c20294.37a725",
	"name": "This section calls the Canary sender API to store the data and handles the tokens",
	"info": "",
	"x": 720,
	"y": 320,
	"wires": []
},
{
	"id": "5b3128f6.9b5b7",
	"type": "modbus-client",
	"z": "",
	"name": "Local Simulator",
	"clienttype": "tcp",
	"bufferCommands": true,
	"stateLogEnabled": false,
	"tcpHost": "127.0.0.1",
	"tcpPort": "502",
	"tcpType": "DEFAULT",
	"serialPort": "/dev/ttyUSB",
	"serialType": "RTU-BUFFERD",
	"serialBaudrate": "9600",
	"serialDatabits": "8",
	"serialStopbits": "1",
	"serialParity": "none",
	"serialConnectionDelay": "100",
	"unit_id": "1",
	"commandDelay": "1",
	"clientTimeout": "1000",
	"reconnectTimeout": "2000"
}]